# 1. Imports

In [72]:
import pandas as pd
from pandas_profiling import ProfileReport
import re

In [73]:
train_df = pd.read_csv('train.csv')
test_df = pd.read_csv('test.csv')

## Analyser la signification des variables

In [74]:
print(train_df.columns.values)

['PassengerId' 'Survived' 'Pclass' 'Name' 'Sex' 'Age' 'SibSp' 'Parch'
 'Ticket' 'Fare' 'Cabin' 'Embarked']

In [75]:
print(train_df)

     PassengerId  Survived  Pclass  \
0              1         0       3
1              2         1       1
2              3         1       3
3              4         1       1
4              5         0       3
..           ...       ...     ...
886          887         0       2
887          888         1       1
888          889         0       3
889          890         1       1
890          891         0       3

                                                  Name     Sex   Age  SibSp  \
0                              Braund, Mr. Owen Harris    male  22.0      1
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                               Heikkinen, Miss. Laina  female  26.0      0
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                             Allen, Mr. William Henry    male  35.0      0
..                                                 ...     ...   ...    ...
886                              Montvila, Rev. Juozas    male  27.0      0
887                       Graham, Miss. Margaret Edith  female  19.0      0
888           Johnston, Miss. Catherine Helen "Carrie"  female   NaN      1
889                              Behr, Mr. Karl Howell    male  26.0      0
890                                Dooley, Mr. Patrick    male  32.0      0

     Parch            Ticket     Fare Cabin Embarked
0        0         A/5 21171   7.2500   NaN        S
1        0          PC 17599  71.2833   C85        C
2        0  STON/O2. 3101282   7.9250   NaN        S
3        0            113803  53.1000  C123        S
4        0            373450   8.0500   NaN        S
..     ...               ...      ...   ...      ...
886      0            211536  13.0000   NaN        S
887      0            112053  30.0000   B42        S
888      2        W./C. 6607  23.4500   NaN        S
889      0            111369  30.0000  C148        C
890      0            370376   7.7500   NaN        Q

[891 rows x 12 columns]

**PassengerId** : ID unique du passager *drop*

**Survived** : État de vie du passager *On prend*

**Pclass** : Classe du ticket > 1 = 1ère classe / 2 = 2ème classe / 3 = 3ème classe *On prend*

**Name** : Nom du passager > a noter que le nom du passager varie en fonction de son sexe *string, drop*

**Sex** : Genre du passager > 0 = F / 1 = M *On prend*

**Age** : Age du passager *On prend*

**SibSp** : Nombre de frères/soeurs/conjoints à bord du Titanic *On prend*

**Parch** : Nombre de parents/enfants à bord *On prend*

**Ticket** : Numero de ticket du passager *drop*

**Fare** : Tarif par passager *On prend*

**Cabin** : Numero de cabine des passagers *drop*

**Embarked** : Port d'embarquement > C = Chebourg / Q = Queenstown / S = Southampton *On prend*

In [80]:
# On drop les colonnes qu'on ignore
train_df.drop(['PassengerId', 'Name', 'Ticket', 'Cabin'], axis=1, inplace=True)
print(train_df)

     Survived  Pclass     Sex   Age  SibSp  Parch     Fare Embarked
0           0       3    male  22.0      1      0   7.2500        S
1           1       1  female  38.0      1      0  71.2833        C
2           1       3  female  26.0      0      0   7.9250        S
3           1       1  female  35.0      1      0  53.1000        S
4           0       3    male  35.0      0      0   8.0500        S
..        ...     ...     ...   ...    ...    ...      ...      ...
886         0       2    male  27.0      0      0  13.0000        S
887         1       1  female  19.0      0      0  30.0000        S
888         0       3  female   NaN      1      2  23.4500        S
889         1       1    male  26.0      0      0  30.0000        C
890         0       3    male  32.0      0      0   7.7500        Q

[891 rows x 8 columns]

# 2. Exploration

In [95]:
print('Colonne - Type - Nombre de valeurs uniques - %age de valeurs présentes')
print('----------------------------------------------------------------------')
for col in train_df.columns:
    print('%s - %s - %s - %s'%(col, train_df[col].dtypes, len(train_df[col].unique()), int(len(train_df[train_df[col].isnull() == False]) / len(train_df) * 100)))
print('----------------------------------------------------------------------')

Colonne - Type - Nombre de valeurs uniques - %age de valeurs présentes
----------------------------------------------------------------------
Survived - int64 - 2 - 100
Pclass - int64 - 3 - 100
Sex - object - 2 - 100
Age - float64 - 89 - 80
SibSp - int64 - 7 - 100
Parch - int64 - 7 - 100
Fare - float64 - 248 - 100
Embarked - object - 4 - 99
----------------------------------------------------------------------